In [1]:
import keras
from keras import layers
from keras.layers.core import Dense, Activation
from keras.models import Sequential
from keras.callbacks import EarlyStopping
from keras.callbacks import ModelCheckpoint

import pandas as pd

from sklearn.model_selection import train_test_split

import numpy as np

from sklearn.metrics import accuracy_score

from keras.layers import LSTM
from sklearn import preprocessing

from sklearn.ensemble import RandomForestClassifier

Using TensorFlow backend.

In [2]:
# Convert a Pandas dataframe to the x,y inputs that TensorFlow needs
def to_xy(df, target):
    result = []
    for x in df.columns:
        if x != target:
            result.append(x)
    # find out the type of the target column.  Is it really this hard? :(
    target_type = df[target].dtypes
    target_type = target_type[0] if hasattr(target_type, '__iter__') else target_type
    # Encode to int for classification, float otherwise. TensorFlow likes 32 bits.
    if target_type in (np.int64, np.int32):
        # Classification
        dummies = pd.get_dummies(df[target])
        return df.as_matrix(result).astype(np.float32), dummies.as_matrix().astype(np.float32)
    else:
        # Regression
        return df.as_matrix(result).astype(np.float32), df.as_matrix([target]).astype(np.float32)
    
# Encode text values to indexes(i.e. [1],[2],[3] for red,green,blue).
def encode_text_index(df, name):
    le = preprocessing.LabelEncoder()
    df[name] = le.fit_transform(df[name])
    return le.classes_

In [3]:
df = pd.read_csv('data/BTC-USD-edited.csv')
df.head()

,Date,Value USD,Max 7,Min 7,Mean 7,Change,Mean Change 7,Drop 7,Up 7,Predict,Actual
0,2010-07-22,0.06262,0.08584,0.04951,0.069031,0.00808,-0.000719,3.0,4.0,-1.0,0
1,2010-07-23,0.05454,0.08584,0.05050,0.069750,0.00404,0.005049,2.0,5.0,2.0,0
2,2010-07-24,0.05050,0.08080,0.05050,0.064701,-0.00550,0.003543,3.0,4.0,-1.0,1
3,2010-07-25,0.05600,0.07921,0.05050,0.061159,-0.00400,0.002106,4.0,3.0,-2.0,1
4,2010-07-26,0.06000,0.07921,0.05050,0.059053,0.00110,0.002901,3.0,4.0,2.0,0

In [4]:
df.tail()

,Date,Value USD,Max 7,Min 7,Mean 7,Change,Mean Change 7,Drop 7,Up 7,Predict,Actual
2947,2018-08-16,6591.160156,6591.160156,6091.140137,6262.038714,185.450195,-44.938546,4.0,2.0,0.0,0
2948,2018-08-17,6405.709961,6591.160156,6091.140137,6306.977260,-96.470215,-58.720006,5.0,2.0,-2.0,1
2949,2018-08-18,6502.180176,6591.160156,6199.600098,6365.697266,232.280274,-0.957101,4.0,3.0,0.0,0
2950,2018-08-19,6269.899902,6591.160156,6199.600098,6366.654367,-221.209961,-41.644252,5.0,2.0,-2.0,1
2951,2018-08-20,6491.109863,6591.160156,6269.899902,6408.298619,124.979980,-13.129953,4.0,3.0,0.0,0

In [5]:
df2 = pd.read_csv('data/EOD-MSFT-edited.csv')

In [6]:
X = df[['Value USD', 'Max 7', 'Min 7', 'Change', 'Mean Change 7', 'Drop 7', 'Up 7']].values
y = df['Actual'].values

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [8]:
clf = RandomForestClassifier(max_depth=2, random_state=0)
clf.fit(X_train, y_train)

/home/sam/code/envs/data/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=2, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=0, verbose=0, warm_start=False)

In [9]:
clf.score(X_test, y_test)

0.934010152284264

In [10]:
from sklearn.externals import joblib

In [11]:
joblib.dump(clf, 'data/bitcoin-predictor.pkl')

['data/bitcoin-predictor.pkl']

In [12]:
clf = joblib.load('data/bitcoin-predictor.pkl')

In [13]:
[0.05050, 0.08584, 0.04951, -0.01212, -0.001873, 3.0, 3.0]

[0.0505, 0.08584, 0.04951, -0.01212, -0.001873, 3.0, 3.0]

In [14]:
clf.predict(np.array([0.05050, 0.08584, 0.04951, -0.01212, -0.001873, 3.0, 3.0]).reshape(1, -1))[0]

1

In [15]:
clf.score(X_test, y_test)

0.934010152284264

In [16]:
df.iloc[10]

Date             2010-08-01
Value USD              0.06
Max 7                0.0699
Min 7                0.0589
Mean 7            0.0629214
Change                    0
Mean Change 7             0
Drop 7                    2
Up 7                      4
Predict                  -1
Actual                    1
Name: 10, dtype: object

In [17]:
df[['Value USD', 'Max 7', 'Min 7', 'Change', 'Mean Change 7', 'Drop 7', 'Up 7']].iloc[10].to_list()

[0.06, 0.0699, 0.0589, 0.0, 0.0, 2.0, 4.0]

In [18]:
X2 = df2[['Value USD', 'Max 7', 'Min 7', 'Change', 'Mean Change 7', 'Drop 7', 'Up 7']].values
y2 = df2['Actual'].values

In [19]:
clf.score(X2, y2)

0.9616562538282494

In [20]:
df.drop(['Date'], inplace=True, axis=1)
df.head()

,Value USD,Max 7,Min 7,Mean 7,Change,Mean Change 7,Drop 7,Up 7,Predict,Actual
0,0.06262,0.08584,0.04951,0.069031,0.00808,-0.000719,3.0,4.0,-1.0,0
1,0.05454,0.08584,0.05050,0.069750,0.00404,0.005049,2.0,5.0,2.0,0
2,0.05050,0.08080,0.05050,0.064701,-0.00550,0.003543,3.0,4.0,-1.0,1
3,0.05600,0.07921,0.05050,0.061159,-0.00400,0.002106,4.0,3.0,-2.0,1
4,0.06000,0.07921,0.05050,0.059053,0.00110,0.002901,3.0,4.0,2.0,0

In [21]:
X,y = to_xy(df,"Actual")

/home/sam/code/envs/data/lib/python3.6/site-packages/ipykernel_launcher.py:14: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [23]:
model = Sequential()
model.add(Dense(80, activation='relu', input_dim=X_train.shape[1]))
model.add(Dense(80, activation='relu'))
model.add(Dense(80, activation='relu'))
model.add(Dense(80, activation='relu'))
model.add(Dense(y_train.shape[1], activation='softmax'))

#model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])
#model.fit(X_train, y_train, epochs=1000)

model.compile(loss='categorical_crossentropy', optimizer='adam')
monitor = EarlyStopping(monitor='val_loss', min_delta=1e-2, patience=25, verbose=1, mode='auto')
checkpointer = ModelCheckpoint(filepath="best_weights.hdf5", verbose=0, save_best_only=True) # save best model

model.fit(X_train, y_train, validation_data=(X_test, y_test), callbacks=[monitor,checkpointer], verbose=2, epochs=1000)
model.load_weights('best_weights.hdf5') # load weights from best model

Train on 2361 samples, validate on 591 samples
Epoch 1/1000
 - 3s - loss: 5.5035 - val_loss: 5.4452
Epoch 2/1000
 - 0s - loss: 5.3267 - val_loss: 5.7598
Epoch 3/1000
 - 0s - loss: 5.5195 - val_loss: 5.8225
Epoch 4/1000
 - 0s - loss: 5.9938 - val_loss: 5.8160
Epoch 5/1000
 - 0s - loss: 5.3696 - val_loss: 5.1201
Epoch 6/1000
 - 0s - loss: 5.5017 - val_loss: 5.7143
Epoch 7/1000
 - 0s - loss: 5.4833 - val_loss: 5.2455
Epoch 8/1000
 - 0s - loss: 5.1450 - val_loss: 5.0812
Epoch 9/1000
 - 0s - loss: 5.3854 - val_loss: 5.5311
Epoch 10/1000
 - 0s - loss: 5.2152 - val_loss: 5.9824
Epoch 11/1000
 - 0s - loss: 5.9154 - val_loss: 5.8530
Epoch 12/1000
 - 0s - loss: 5.6915 - val_loss: 7.2330
Epoch 13/1000
 - 0s - loss: 6.4191 - val_loss: 4.8261
Epoch 14/1000
 - 0s - loss: 5.7891 - val_loss: 5.5338
Epoch 15/1000
 - 0s - loss: 5.1512 - val_loss: 5.6178
Epoch 16/1000
 - 0s - loss: 5.2495 - val_loss: 6.2558
Epoch 17/1000
 - 0s - loss: 5.2101 - val_loss: 5.5675
Epoch 18/1000
 - 0s - loss: 4.7082 - val_loss: 5.5488
Epoch 19/1000
 - 0s - loss: 4.3956 - val_loss: 3.7755
Epoch 20/1000
 - 0s - loss: 2.3505 - val_loss: 4.0643
Epoch 21/1000
 - 0s - loss: 2.4200 - val_loss: 4.9042
Epoch 22/1000
 - 0s - loss: 4.7742 - val_loss: 5.2954
Epoch 23/1000
 - 0s - loss: 4.8632 - val_loss: 4.4208
Epoch 24/1000
 - 0s - loss: 3.4201 - val_loss: 5.8336
Epoch 25/1000
 - 0s - loss: 5.2939 - val_loss: 1.1709
Epoch 26/1000
 - 0s - loss: 4.0714 - val_loss: 3.3303
Epoch 27/1000
 - 0s - loss: 2.9939 - val_loss: 4.3567
Epoch 28/1000
 - 0s - loss: 5.0223 - val_loss: 0.6763
Epoch 29/1000
 - 0s - loss: 4.2955 - val_loss: 4.3140
Epoch 30/1000
 - 0s - loss: 2.5652 - val_loss: 3.8961
Epoch 31/1000
 - 0s - loss: 2.1342 - val_loss: 0.4565
Epoch 32/1000
 - 0s - loss: 1.7062 - val_loss: 1.1864
Epoch 33/1000
 - 0s - loss: 2.3217 - val_loss: 4.6425
Epoch 34/1000
 - 0s - loss: 2.3444 - val_loss: 0.4854
Epoch 35/1000
 - 0s - loss: 1.2386 - val_loss: 0.4107
Epoch 36/1000
 - 0s - loss: 3.4496 - val_loss: 4.8488
Epoch 37/1000
 - 0s - loss: 4.4310 - val_loss: 4.0206
Epoch 38/1000
 - 0s - loss: 1.8476 - val_loss: 1.0632
Epoch 39/1000
 - 0s - loss: 2.3756 - val_loss: 3.3794
Epoch 40/1000
 - 0s - loss: 1.2412 - val_loss: 0.8230
Epoch 41/1000
 - 0s - loss: 2.2101 - val_loss: 2.2548
Epoch 42/1000
 - 0s - loss: 2.1701 - val_loss: 4.9664
Epoch 43/1000
 - 0s - loss: 3.6034 - val_loss: 0.6813
Epoch 44/1000
 - 0s - loss: 0.5356 - val_loss: 0.4645
Epoch 45/1000
 - 0s - loss: 0.8090 - val_loss: 0.9741
Epoch 46/1000
 - 0s - loss: 1.2670 - val_loss: 5.1278
Epoch 47/1000
 - 0s - loss: 5.1193 - val_loss: 5.1032
Epoch 48/1000
 - 0s - loss: 4.8978 - val_loss: 4.4092
Epoch 49/1000
 - 0s - loss: 5.6412 - val_loss: 6.4346
Epoch 50/1000
 - 0s - loss: 6.3278 - val_loss: 5.9198
Epoch 51/1000
 - 0s - loss: 6.1085 - val_loss: 5.7019
Epoch 52/1000
 - 0s - loss: 5.9393 - val_loss: 5.5842
Epoch 53/1000
 - 0s - loss: 4.9792 - val_loss: 4.8813
Epoch 54/1000
 - 0s - loss: 4.6970 - val_loss: 4.7232
Epoch 55/1000
 - 0s - loss: 4.5375 - val_loss: 4.6524
Epoch 56/1000
 - 0s - loss: 4.5285 - val_loss: 4.6458
Epoch 57/1000
 - 0s - loss: 4.0707 - val_loss: 3.9968
Epoch 58/1000
 - 0s - loss: 1.4025 - val_loss: 0.7600
Epoch 59/1000
 - 0s - loss: 2.4740 - val_loss: 5.4170
Epoch 60/1000
 - 0s - loss: 4.6409 - val_loss: 1.6378
Epoch 00060: early stopping

In [24]:
model.save('data/amzn-predictor-shuffled.hd5')

In [25]:
pred = model.predict(X_test)

In [26]:
print("Shape: {}".format(pred.shape))
print(pred)

Shape: (591, 2)
[[1.         0.        ]
 [1.         0.        ]
 [0.         1.        ]
 ...
 [0.         1.        ]
 [0.6255346  0.37446535]
 [0.         1.        ]]

In [27]:
predict_classes = np.argmax(pred,axis=1)
print("Predictions: {}".format(predict_classes))
print("Expected: {}".format(np.argmax(y_test, axis=1)))
y_test_arg = np.argmax(y_test, axis=1)

Predictions: [0 0 1 1 0 0 1 0 0 1 1 1 1 1 1 0 1 1 0 1 0 0 1 0 0 1 1 0 1 0 0 0 0 1 1 0 0
 0 1 1 1 0 0 0 0 1 1 1 0 0 0 1 0 0 1 0 0 0 1 1 1 1 1 1 0 0 1 1 1 1 1 0 0 1
 0 1 0 1 1 1 0 0 1 1 0 0 1 1 0 0 0 0 0 0 1 1 0 0 0 0 0 1 0 1 1 0 1 0 1 1 1
 1 1 1 0 1 0 0 0 0 1 0 0 1 0 0 1 1 0 0 1 1 0 1 0 1 1 0 0 0 0 0 0 1 0 1 1 0
 1 0 0 0 0 1 1 1 1 0 1 0 1 1 1 1 1 1 1 0 0 0 1 0 0 1 0 1 0 1 1 0 1 0 0 0 1
 0 1 0 1 1 1 1 1 0 0 1 1 0 0 0 1 0 1 1 1 1 0 0 0 1 0 0 1 0 0 0 1 0 0 0 1 1
 0 1 0 0 0 0 0 1 0 0 1 0 0 1 1 1 0 0 0 1 1 0 1 0 0 1 1 1 1 1 1 1 0 1 1 0 1
 1 1 1 1 0 0 0 1 1 1 0 1 1 0 0 1 0 1 0 0 1 0 1 1 0 1 1 0 0 0 0 0 0 1 0 0 1
 1 1 0 1 1 1 1 1 1 1 1 0 1 1 1 1 0 1 1 0 0 1 1 1 1 1 1 0 1 1 0 0 1 1 1 0 0
 1 1 1 1 0 0 0 1 0 0 1 1 1 0 0 1 0 1 0 0 1 1 0 1 1 1 0 1 0 1 0 0 1 0 1 0 0
 0 1 0 1 1 1 1 0 0 1 0 0 1 1 1 1 1 1 1 1 1 0 0 1 1 1 1 0 0 0 0 1 0 1 1 0 1
 0 1 0 0 0 0 1 1 1 1 0 0 0 1 0 0 0 1 1 1 1 0 1 1 0 1 0 0 1 1 1 0 1 1 1 0 1
 1 1 0 0 1 0 0 0 1 1 0 1 0 0 1 1 1 1 0 1 1 0 0 0 0 0 1 1 0 0 1 0 0 0 0 1 1
 1 0 0 0 1 1 0 1 1 0 1 1 0 1 0 1 1 1 1 0 1 0 0 1 1 1 1 1 0 0 1 1 1 1 1 0 1
 0 0 0 0 0 1 1 1 0 0 1 1 1 1 0 1 1 1 0 1 0 0 0 0 0 0 0 0 1 1 1 0 1 0 1 0 1
 1 0 1 1 0 0 1 1 0 0 0 0 1 0 1 1 0 1 1 0 0 1 0 0 0 0 1 0 1 1 1 0 1 1 0 1]
Expected: [0 0 1 1 1 0 1 0 0 0 1 1 1 1 1 0 1 1 0 1 0 0 0 0 0 1 1 0 1 0 0 0 0 1 1 1 0
 0 1 1 1 0 0 0 0 1 1 1 0 0 0 1 0 0 1 0 0 0 1 1 1 1 1 1 0 0 1 1 1 1 1 0 0 1
 1 1 0 1 1 1 0 0 1 1 0 0 1 1 0 0 0 0 0 0 1 1 0 0 0 0 0 1 1 1 1 0 1 0 1 1 1
 1 1 1 1 1 0 0 0 0 1 0 0 1 0 0 1 1 0 0 1 1 0 1 0 1 1 0 0 0 0 0 0 1 0 1 1 0
 1 0 0 0 0 1 1 1 1 0 1 0 1 1 1 1 1 1 1 0 0 0 1 0 0 1 0 1 1 0 1 0 1 0 0 0 1
 0 0 0 0 1 1 1 1 0 1 1 0 0 0 0 1 1 1 1 1 1 0 0 0 1 0 0 1 0 0 0 1 0 0 0 1 1
 0 1 0 0 0 0 0 1 0 0 1 0 0 1 1 1 0 0 0 1 1 0 1 0 0 0 1 1 1 1 0 1 0 1 1 0 1
 1 0 1 1 0 0 0 1 1 1 1 1 1 0 0 1 0 1 0 0 1 0 1 1 1 1 1 0 1 0 1 0 0 1 0 0 1
 0 1 0 1 1 1 1 1 1 1 1 0 1 1 1 1 0 1 1 0 0 1 1 1 1 1 1 0 1 1 0 0 1 1 1 0 0
 1 1 1 1 0 0 0 1 0 0 0 1 1 0 0 1 0 1 0 0 1 1 0 1 1 1 0 1 0 1 0 0 1 0 1 0 0
 1 1 0 1 1 1 1 0 0 0 0 0 1 1 1 0 1 1 1 0 0 0 0 1 1 1 1 0 0 0 0 1 1 1 1 0 1
 0 1 0 0 0 0 1 1 1 1 1 0 0 1 0 0 0 1 1 1 1 0 1 1 0 1 0 0 1 1 1 0 1 1 1 1 1
 1 1 0 0 1 0 0 0 1 1 0 1 0 0 1 1 1 1 0 1 1 0 0 1 0 0 1 1 0 0 1 0 0 0 0 1 1
 1 0 0 0 1 1 0 1 1 0 1 1 0 1 0 1 1 1 1 0 1 0 1 1 1 1 1 1 0 0 0 1 1 1 1 0 1
 0 0 0 0 0 1 1 1 0 1 1 1 1 1 0 1 1 1 1 1 0 0 0 0 0 0 0 0 1 1 1 0 1 0 0 0 1
 1 0 1 1 0 0 1 1 1 0 0 0 1 0 1 1 0 1 1 0 1 1 0 0 0 0 0 1 1 1 1 0 1 1 0 1]

In [28]:
correct = accuracy_score(y_test_arg,predict_classes)
print("Accuracy: {}".format(correct))

Accuracy: 0.9306260575296108

In [30]:
df2.drop(['Date'], axis=1, inplace=True)

In [31]:
X,y = to_xy(df2,"Actual")

/home/sam/code/envs/data/lib/python3.6/site-packages/ipykernel_launcher.py:14: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

In [32]:
pred = model.predict(X)

In [33]:
print("Shape: {}".format(pred.shape))
print(pred)

Shape: (8163, 2)
[[1.00000000e+00 0.00000000e+00]
 [1.00000000e+00 0.00000000e+00]
 [1.00000000e+00 0.00000000e+00]
 ...
 [2.12960960e-09 1.00000000e+00]
 [1.46003321e-09 1.00000000e+00]
 [8.76568377e-01 1.23431616e-01]]

In [34]:
predict_classes = np.argmax(pred,axis=1)
print("Predictions: {}".format(predict_classes))
print("Expected: {}".format(np.argmax(y, axis=1)))
y_arg = np.argmax(y, axis=1)

Predictions: [0 0 0 ... 1 1 0]
Expected: [0 0 1 ... 1 1 0]

In [35]:
correct = accuracy_score(y_arg,predict_classes)
print("Accuracy: {}".format(correct))

Accuracy: 0.591694230062477

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [37]:
df3 = pd.read_csv('data/AMZN-edited.csv')
df3.head()

,Date,Value USD,Drop 7,Up 7,Min 7,Max 7,Mean 7,Mean Change 7,Change,Predict,Actual
0,05/23/1997,1.500000,2.0,5.0,1.395833,1.958333,1.622024,0.053571,-0.083333,-1.0,1
1,05/27/1997,1.583333,2.0,5.0,1.395833,1.729167,1.568452,0.028274,0.052083,2.0,0
2,05/28/1997,1.531250,2.0,5.0,1.395833,1.708333,1.540178,0.029018,0.026042,2.0,0
3,05/29/1997,1.505208,2.0,5.0,1.395833,1.635417,1.511161,0.019345,0.005208,2.0,0
4,05/30/1997,1.500000,3.0,4.0,1.395833,1.583333,1.491815,-0.011905,-0.010417,-2.0,1

In [38]:
df3.drop(['Date'], axis=1, inplace=True)

In [39]:
X,y = to_xy(df3,"Actual")

/home/sam/code/envs/data/lib/python3.6/site-packages/ipykernel_launcher.py:14: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

In [40]:
pred = model.predict(X)

In [41]:
print("Shape: {}".format(pred.shape))
print(pred)

Shape: (5337, 2)
[[9.5446396e-01 4.5536034e-02]
 [1.0000000e+00 7.6082936e-09]
 [1.0000000e+00 8.4236049e-09]
 ...
 [1.0000000e+00 0.0000000e+00]
 [1.0000000e+00 0.0000000e+00]
 [1.0000000e+00 0.0000000e+00]]

In [42]:
predict_classes = np.argmax(pred,axis=1)
print("Predictions: {}".format(predict_classes))
print("Expected: {}".format(np.argmax(y, axis=1)))
y_arg = np.argmax(y, axis=1)

Predictions: [0 0 0 ... 0 0 0]
Expected: [1 0 0 ... 1 1 1]

In [43]:
correct = accuracy_score(y_arg,predict_classes)
print("Accuracy: {}".format(correct))

Accuracy: 0.4892261570170508